@model TodoList

<form class="main-edit" method="post">
    <div class="edit-div">
        <p>Header</p>
        <input asp-for="Header" class="header-edit-input" type="text" value="" placeholder="@Model.Header"  />
    </div>

    <div class="edit-div">
        <p>Sub-Header</p>
        <input asp-for="SubHeader" class="sub-header-edit-input" type="text" value="" placeholder="@Model.SubHeader"  />
    </div>

    <div class="edit-div">
        <p>Description</p>
        <textarea asp-for="Description" class="descr-edit-textarea" value="" placeholder="@Model.Description"></textarea>
    </div>

    <div class="edit-btns">
        <button class="edit-btn-back" asp-controller="Home" asp-action="Index">Go back</button>
        <button class="edit-btn-edit" type="submit">Edit</button>
    </div>
</form>