<form class="main-edit" method="post">
    <div class="edit-div">
        <p>Header</p>
        <input class="header-edit-input" type="text" value="" placeholder="Edit header"  />
    </div>

    <div class="edit-div">
        <p>Sub-Header</p>
        <input class="sub-header-edit-input" type="text" value="" placeholder="Edit sub-header"  />
    </div>

    <div class="edit-div">
        <p>Description</p>
        <textarea class="descr-edit-textarea" placeholder="Edit description"></textarea>
    </div>

    <div class="edit-btns">
        <button class="edit-btn-back" asp-controller="Home" asp-action="Index">Go back</button>
        <button class="edit-btn-edit">Edit</button>
    </div>
</form>