* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-edit {
    width: 100%;
    height: 90vh;
    border: solid #da5345 2px;
    border-radius: 15px;
    padding: 10px 20px;
    position: relative
}

.edit-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #ffffff26;
    width: 50%;
    height: auto;
    padding: 10px 10px;
    border-radius: 9px;
    margin-bottom: 20px;
}

.edit-div > p {
    color: white;
    font-size: 25px;
    font-weight: 700
}

.header-edit-input, .sub-header-edit-input {
    width: 55%;
    height: 30px;
    padding: 0px 10px 0px 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 20px;
    font-weight: 700;
}

.sub-header-edit-input {
    width: 65% !important;
}

.descr-edit-textarea {
    width: 65%;
    height: 120px;
    resize: none;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 0px 10px 0px 10px;
    font-weight: 700
}

.edit-btns {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #ffffff26;
    width: 50%;
    height: auto;
    padding: 10px 10px;
    border-radius: 9px;
    margin-bottom: 20px;
}

.edit-btn-edit, .edit-btn-back {
    width: 95%;
    height: 10%;
    margin: 0px 5px;
    border: none;
    border-radius: 12px;
    border: solid #da5345 2px;
    background-color: transparent;
    color: white;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 10px;
}

.edit-div > span {
    color: #da5345;
    margin-top: -10px;
    margin-bottom: 10px;
}

.utility-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 80px !important;
    height: 97% !important;
    display: flex;
    flex-direction: column !important;
}

*::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.due-date-input {
    height: 50px;
    padding: 15px 20px;
    border-radius: 15px;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 600
}
