html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 0px;
}

.modify-btns {
    width: 80%;
    height: 50px;
    font-size: 25px;
    border: none !important;
    border-radius: 25px;
    color: white;
    background-color: #da5345;
}

.main {
    height: auto;
    display: flex;
    background-color: #161616 !important;
}

.side-bar {
    height: 100vh;
    width: 18%;
    background-color: #161616 !important;
    border-right: solid #696969 2px;
    position: sticky;
    top: 0;
    left: 0;
}

.side-bar-section {
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
}

.modify-btns {
    width: 80%;
    height: 50px;
    font-size: 25px;
    border: none !important;
    border-radius: 25px;
    color: white;
    background-color: #da5345;
}

.main-item {
    width: 82%;
    height: 100%;
    padding: 25px 10px;
}

.side-bar-section > a > i {
    color: white;
}

/*Add task sidebar animation*/
.bi-plus-circle {
    transition: ease-in-out 0.2s;
    margin-left: 57px;
}

.create-todo {
    transition: ease-in-out 0.2s;
    text-decoration: none !important;
    overflow: hidden;
}

.create-todo:hover > .bi-plus-circle {
    margin-left: -30px;
}

.create-todo::after {
    content: "Add task";
    display: inline-block;
    font-size: 15px;
    margin-top: 8px;
    font-weight: 700;
    color: white;
    transform: translateX(200px);
    transition: ease-in-out 0.2s;
}

.create-todo:hover::after {
    display: flex;
    text-decoration: none !important;
    color: white;
    transform: translateX(0px);
    margin-left: 10px;
}
/*Add task sidebar animation*/


/*Modify sidebar animation*/
.bi-list-ul {
    transition: ease-in-out 0.2s;
    margin-left: 85px;
}

.modify-todo {
    transition: ease-in-out 0.2s;
    text-decoration: none !important;
    overflow: hidden;
}

.modify-todo:hover > .bi-list-ul {
    margin-left: -30px;
}

.modify-todo::after {
    content: "Modify tasks";
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    color: white;
    transform: translateX(200px);
    transition: ease-in-out 0.2s;
}

.modify-todo:hover::after {
    display: flex;
    text-decoration: none !important;
    color: white;
    transform: translateX(0px);
    margin-left: 10px;
}
/*Modify sidebar animation*/
